build/*
debug/*
*.o

*/LaTeX/*.fdb_latexmk
*/LaTeX/*.fls
*/LaTeX/*.log
#*/LaTeX/*.pdf
*/LaTeX/*.synctex.gz
*/LaTeX/*.aux

*/LaTeX/*.toc
*/LaTeX/*.stc*
*/LaTeX/*.maf
*/LaTeX/*.mtc*
*/LaTeX/*.bbl
*/LaTeX/*.blg
*/LaTex/*.synctex

*/LaTeX/Parts/Annexes.aux

*/LaTeX/*.pyg